* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.pop-up {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pupup-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    width: 80%;
}

.pupup-inputs input {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
}

.signin {
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
    padding: 50px 40px;
    gap: 18px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.signin h1 {
    margin-bottom: 8px;
}

.pop-btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
    cursor: pointer;
}

#signin-btn {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
    padding-left: 120px;
    padding-right: 155px;
    padding-bottom: 36px;
    width: 1440px;
}

#nav-search {
    display: none;
    padding: 6px 10px;
    border-radius: 20px;
    outline: none;
}

.close-btn {
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 40px;
    border: 2px solid red;
    margin-top: 10px;
    cursor: pointer;
    background-color: white;
}

.btns {
    display: flex;
    gap: 10px;
}

.logo {
    top: 37px;
    left: 120px;
    background-color: #D9D9D9;
    padding: 18px 39px;
}

.logo p {
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    justify-content: right;
}

.nav-links-upper ul {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 21px;
    height: 42px;
    list-style: none;
}

.nav-links-upper ul li {
    padding: 8px 16px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-links-upper ul li p {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: bottom;
}

.nav-links-lower {
    display: flex;
    align-items: center;
    padding-right: 52px;
    gap: 16px;
}

.nav-links-lower a, .nav-links-lower p {
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: bottom;
    padding: 8px 16px;
    cursor: pointer;
    transition: .3s;
    border-radius: 40px;
}

.nav-links-lower a:hover {
    background-color: #d3d1d1;
}

.nav-links-lower a:active {
    background-color: #b9b7b7;
}

#rounded-nav-link {
    background-color: #DC3636;
    border-radius: 28px;
    color: white;
}

.main {
    width: 1440px;
    height: 2075px;
    background-color: #ECECEC;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 154px;
    flex-direction: column;
    padding-right: 161px;
}

.main-header {
    background-color: white;
    width: 1125px;
    height: 385px;
    padding: 38px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.main-header-sections {
    display: flex;
    gap: 52px;
}

.main-header-title {
    width: 732px;
    height: 159px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.main-header-title h1 {
    font-weight: 1000;
    font-style: Black;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 2%;
}

.main-header-bottom {
    display: flex;
    gap: 16px;
}

#title-person {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 9px 13px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#title-Fiction {
    background-color: #F8D7D7;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
    padding: 7px 12px 5px 12px; 
    border-radius: 30px;
}

#title-Advanced {
    background-color: rgb(179, 177, 177);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 2%;
    vertical-align: middle;
    border-radius: 30px;
    padding: 7px 12px 5px 12px;
}

.main-header-box {
    width: 264px;
    height: 147px;
    border-radius: 8px;
}

.twins {
    display: flex;
    gap: 5px;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

.twin1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 132px;
    height: 93px;
    padding: 20px;
    border-right: 1px solid black;
}

.twin2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 132px;
    height: 93px;
    padding: 20px;
}

.twin-amount {
    font-weight: 700;
    font-size: 24px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
}

#for-border {
    border-right: 1px soild black;
}

.twin-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
}

.main-header-box button {
    background-color: #DC3636;
    width: 100%;
    height: 54px;
    outline: none;
    border: 1px soild black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 2%;
    text-align: center;
}

.rate-spot-section {
    margin-top: 20px;
    display: flex;
}

.rate-spot {
    border: 1px solid black;
    border-radius: 8px;
    padding: 9px 10px;
    width: 264px;
    height: 44px;
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
}

.location {
    cursor: pointer;

}

.location:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

#search-bar {
    width: 0;
    opacity: 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.4s ease, opacity 0.3s ease;
    margin-left: 10px;
}

#search-bar.active {
    width: 180px;
    opacity: 1;
}

#search-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#search-btn.active {
    transform: translateY(10px);
}


.other-info {
    display: flex;
    width: 1039px;
    height: 53px;
    margin-top: 44px;
}

.date-time {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 134px;
}

.date-time-text {
    width: 269px;
    height: 53px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2%;
}

.date-red {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2%;
    color: red;
}

.location img {
    width: 30px;
    height: 30px;
}

.location {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 318px;
    height: 51px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 24px;
}

.deadline {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 30px;
    width: 248px;
    height: 53px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2%;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 1127px;
    height: 1280px;
    margin-top: 33px;
}

.content-text {
    display: flex;
    height: 1016px;
    width: 1127px;
}

.content-text-left { 
    background-color: white;
    padding-left: 38px;
    padding-right: 63px;
    padding-top: 63px;
    width: 735px;
    font-weight: 400;
    font-style: normal  ;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
}

.content-text-right {
    width: 392px;
}

.share {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.share img {
    width: 20px;
    height: 20px;
}

.text-line {
    background-color: #828282;
    width: 636px;
    height: 1px;
    margin-top: 23px;
}

.content-text-left h1 {
    margin-top: 32px;
    font-weight: 900;
    font-style: Black;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2%;
}

.time {
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    gap: 46px;
    margin-top: 34px;
}

.dates-row {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    font-family: Arial, sans-serif;
    margin-top: 18px;
    margin-bottom: 56px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.date-block {
    text-align: center;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    text-align: center;
}

.content-text-right {
    padding-top: 34px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #F9EEE4;
}

.content-text-right p {
    margin-top: 34px;
    width: 317px;
    height: 492px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;

}

.text-right-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-text-right button {
    padding: 8px 25px;
    border: 1px solid red;
    border-radius: 28px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: red;
}

.content-quote {
    background: url("assets/Rectangle\ 111.png") no-repeat center;
    width: 1127px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-quote img {
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}

.content-quote img:hover {
    background-color: rgb(201, 198, 198);
    border-radius: 100%;
}

.quote-content {
    width: 953px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    padding: 45px 25px;
    align-items: center;
    gap: 40px;
}

.inverted-comma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    font-weight: 400;
    font-style: Bold;
    font-size: 100px;
    line-height: 200px;
    letter-spacing: 2%;
}

.quote-content p{
    width: 684px;
    font-weight: 400;
    font-style: Italic;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 2%;
    text-align: center;
}

.author-name {
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2%;
    text-align: center;
}

.similar-class {
    background-color: white;
    width: 1127px;
    padding-top: 40px;
    padding-left: 38px;
    padding-right: 26px;
    padding-bottom: 50px;
    margin-top: 27px;
}

.similar-class h1 {
    font-weight: 900;
    font-style: Black;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2%;
}

.similar-class-content {
    display: flex;
    align-items: center;
    gap: 83px;
}

.similar-class-content p {
    width: 306px;
    height: 110px;
    margin-top: 30px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
}

.learn-link {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: rgb(245, 102, 102);
}

.remote-class {
    padding: 75px 158px 90px 158px;
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.remote-class h1 {
    font-weight: 900;
    font-style: Black;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2%;
}

.remote-class p {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%; 
    margin-top: 22px;
}

.remote-links {
    display: flex;
    align-items: center;
    gap: 46px;
    color: rgb(245, 102, 102);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    cursor: pointer;
}

.remote-links p:nth-child(1):hover {
    transition: .3s;
    color: red;
}

.remote-links p:nth-child(2):hover {
    transition: .3s;
    color: red;
}

#second-line {
    width: 1130px;
}

#second-remote-heading {
    margin-top: 61px;
}

.remote-sections {
    display: flex;
    align-items: center;
    gap: 23px;
}

.remote-sections p span {
    color: #DC3636;
}

.footer {
    width: 1440px;
    background-color: #3F3F3F;
    color: white;
    position: relative;
    height: 411px;
}

.footer-left {
    max-width: 500px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}

.footer-links {
    top: 118px;
    left: 139px;
    position: absolute;
}

.footer-contact h3 {
    font-size: 20px;
    top: 206px;
    left: 139px;
    position: absolute;
}

.address {
    color: #F2A15D; 
    top: 245px;
    left: 139px;
    position: absolute;
}

.contact-row {
    top: 283px;
    left: 139px;
    position: absolute;
}

.contact-row span {
    display: inline-block;
    margin-right: 20px;
    color: #FFA34D;
}

.footer-copy {
    font-size: 14px;
    top: 345px;
    left: 136px;
    color: #d3d3d3;
    position: absolute;
}

.footer-right {
    text-align: right;
    max-width: 400px;
}

.footer-right h3 {
    font-size: 20px;
    position: absolute;
    top: 52px;
    left: 1022px;
}

.subscribe-box {
    display: flex;
    position: absolute;
    top: 96px;
    right: 123px;
    background: white;
    border-radius: 25px;
    padding: 5px;
    width: 300px;
}

.subscribe-box input {
    border: none;
    flex: 1;
    padding: 10px 15px;
    border-radius: 25px;
    outline: none;
}

.subscribe-box button {
    background-color: #F59C51;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: absolute;
    top: 248px;
    right: 122px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.icon-border {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F39B4E;
    border-radius: 100%;
    cursor: pointer;
    transition: .4s;
}

.icon-border:hover {
    background-color: #F39B4E;
}

#yellow-icon {
    border: 2px solid #F39B4E;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: .4s;
    border-radius: 100%;
}

#yellow-icon:hover {
    background-color: #F39B4E;
}

.privacy {
    font-size: 14px;
    color: #d3d3d3;
    position: absolute;
    top: 354px;
    right: 133px;
}



#quote-1 {
    display: block;
}

#quote-2 {
    display: none;
}

#quote-3 {
    display: none;
}

#quote-4 {
    display: none;
}












